@font-face{
    font-family:downloaded;
    src: url('/public/fonts/KGPerfectPenmanship.ttf')
}

@font-face {
    font-family: midnight;
    src: url('public/fonts/KGMidnightMemories.ttf');
}

.dark {
    --mainbg: black;
    --lvl0bg: #242424;
    --lvl1bg: #505050;
    --lvl2bg: #747474;
    --lvl3bg: #7c7c7c;
    --lvl4bg: #afafaf;
    --lvl5bg: #62447c;
    --shadowstd: 6px 6px 3px rgb(0, 0, 0);
    --fontcolor: white;
    background-color: var(--mainbg);
    
}

.light {
    --mainbg: rgb(255, 252, 243);
    --lvl0bg: rgb(255, 249, 224);
    --lvl1bg: rgb(255, 245, 212);
    --lvl2bg: rgb(255, 238, 183);
    --lvl3bg: rgb(255, 236, 160);
    --lvl4bg: rgb(255, 231, 154);
    --lvl5bg: rgb(255, 230, 141);
    --shadowstd: 6px 6px 3px rgba(0, 0, 0, 0.5);
    --fontcolor: black;
    background-color: var(--mainbg);
   
}

* {
    
    color: var(--fontcolor);
    text-align: center;
    font-size: 1.5vw;
    border-radius: 5px;
    font-family: midnight, Arial, sans-serif;
    justify-content: center;
    margin: 0.2vw;
    padding: 0.5vw;
    word-break: normal;
    overflow-wrap: break-word;
    --btnsize: 1vw;
    --floatbtnw: 10vw;
    --floatbtnh: 1.5vw;
}

.terms-popup{
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: #707070;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    height: 60%;
    margin: auto;
    z-index: 1000;
    overflow-y: auto;
}

.formterms{
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: #707070;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    height: fit-content;
    margin: auto;
    z-index: 1000;
    overflow-y: auto;
}

h1 {
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
    font-family: downloaded, Arial, sans-serif;
}

h2 {
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
    font-family: downloaded, Arial, sans-serif;
    padding: 1.1vw;
}

a {
    text-decoration: none;
    color: var(--fontcolor);
        font-family: downloaded, Arial, sans-serif;

}

summary{
    list-style: none;
}

.webimg {
    border-radius: 2vw;
    max-width: 12vw;
}

.logotd {
    height: 10vw;
    padding: 1vw;
}

.retratotd {
    height: 15vw;
    margin: 0px;
    padding: 0px;
}

.webdescription {
    width: auto;
    padding: 0;
    margin: 1%;
}

p {
    max-width: fit-content;
    word-break: normal;
}

header {
    grid-area: header;
    background-color: var(--lvl0bg);
    justify-content: center;
    box-shadow: var(--shadowstd);
}

header>div {
    background-image: url(/public/imagenes/TetoFondo.svg);
    background-blend-mode: color-dodge;
    background-position: 0vh;
    background-size: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0vw;
    background-color: rgb(32, 32, 32);
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: var(--lvl0bg);
    justify-content: space-around;
    box-shadow: var(--shadowstd);
}

nav>a {
    width: 15vw;
    height: 3vw;
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    background-color: var(--lvl0bg);
}

article {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    align-self: center;
    background-color: var(--lvl1bg);
    box-shadow: var(--shadowstd);
}

.themebutton {
    position: fixed;
    top: 1vw;
    right: 1vw;
    width: var(--floatbtnw);
    height: var(--floatbtnh);
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
    font-size: var(--btnsize);
    display: flex;
    justify-content: center;
    align-items: center;
}

.volverArriba {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    width: var(--floatbtnw);
     height: var(--floatbtnh);
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
    font-size: var(--btnsize);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: auto;
    height: auto;
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
}

input {
    background-color: var(--lvl2bg);
}

textarea {
    background-color: var(--lvl2bg);
}

webs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--lvl1bg);
    box-shadow: var(--shadowstd);
    justify-content: center;
    align-items: center;

}

web-element {
    display: grid;
    grid-template-columns: auto;
    width: auto;
    background-color: var(--lvl2bg);
    box-shadow: var(--shadowstd);
    justify-content: center;
    justify-items: center;


}

body {
    display: grid;
    grid-template-areas:
        "header header"
        "aside nav"
        "aside content"
        "footer footer";
    grid-template-columns: 1fr 5fr;
}

aside {
    grid-area: aside;
    background-color: var(--lvl0bg);
    box-shadow: var(--shadowstd);
}

aside>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--lvl1bg);
    box-shadow: var(--shadowstd);
}

details>div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--lvl1bg);
    box-shadow: var(--shadowstd);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

aside>div>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--lvl2bg);
    box-shadow: var(--shadowstd);
}

details>div>div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
    flex-direction: column;
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);

}

aside>div>div>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
}


footer {
    grid-area: footer;
    background-color: var(--lvl0bg);
    display: flex;
    flex-direction: row;
    justify-content: stretch, center;
    box-shadow: var(--shadowstd);

}

footer>a {
    background-color: var(--lvl5bg);
    box-shadow: var(--shadowstd);
    flex-basis: 50vw;
}

form {
    display: grid;
    grid-template-columns: auto;
}

.divfront,
.divbbdd,
.divback {
    display: none;
}

#asidesmallscreen {
    display: none;
}


    .cookie-popup{
    position: fixed;
    top: 40%;
    left: 35%;
    background-color: #707070;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    display: none;
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
    height: 20%;
    margin: auto;
    z-index: 1000;
}

.cookie-popup.show{
    display: flex;
}

.cookie-popup button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-popup a{
    color: #007bff;
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
    :root{
        margin-top: 4vw;
    }
    
    * {
        font-size: medium;
        margin: 0.2vw;
        padding: 0.5vw;
        --btnsize: 2vw;
        --floatbtnw: 25vw;
        --floatbtnh: 4vw;
    }

    nav>a{
        width: 23vw;
        height: 5vw;
    }

    aside {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    aside>div>div {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }


    body {
        grid-template-areas:
            "header header"
            "nav nav"
            "aside aside"
            "content content"
            "footer footer";
    }

    #asidelargescreen {
        display: none;
    }

    #asidesmallscreen {
        display: flex;
    }

    web-element {
        min-width: 70vw;
        max-width: 25vw;
    }

    .webimg {
        border-radius: 2vw;
        max-width: 40vw;
    }
    button {
        height: 5vw;
        font-size: 3vw;
    }
    footer{
        margin-bottom: 3vw;
    }
}